@model Bank

<div class="card shadow border-0 mt-4 content">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary">Perditso Bank</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="Id" hidden />
            <div class="border p-3 mt-4">
                <div class="form-floating py-2 col-12">
                    <input asp-for="BankName" type="text" class="form-control border-0 shadow" />
                    <label class="ms-2">Emri i Bankes</label>
                    <span asp-validation-for="BankName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="AkronimiBankes" type="text" class="form-control border-0 shadow" />
                    <label class="ms-2">Akronimi i Bankes</label>
                </div>
             
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Perditso</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Bank" asp-action="Index" class="btn btn-outline-secondary form-control border">Kthehu Prapa</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}