@model List<Parent>

<div class="card shadow border-0 mt-4 content">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary">Lista Prindeve</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row  pb-2 ">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Parent" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Shto Prind
                </a>
            </div>
        </div>
        <table id="tblData3" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Emri</th>
                    <th>Mbiemri</th>
                    <th>Mbiemri Vajzeris</th>
                    <th>Nr Personal</th>
                    <th>Ditelindja</th>
                    <th>Gjinia</th>
                    <th> </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/parent.js"></script>
}