@model ParentVM

<div class="card shadow border-0 mt-4 content">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary">Shiko Detajet e Prindit </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="Parent.IdParent" hidden />
            <div class="border p-3 mt-4">
                <div class="row">
                    <!-- First Column -->
                    <div class="col-12 col-md-6">
                        <div class="form-floating py-2">
                            <input asp-for="Parent.Name" type="text" class="form-control border-0 shadow" readonly />
                            <label class="ms-2">Emri</label>
                            <span asp-validation-for="Parent.Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Parent.Surname" type="text" class="form-control border-0 shadow" readonly />
                            <label class="ms-2">Mbiemri</label>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Parent.MaidenName" type="text" class="form-control border-0 shadow" readonly />
                            <label class="ms-2">Mbiemri Vajzeris</label>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Parent.PersonalNo" type="text" class="form-control border-0 shadow" readonly />
                            <label class="ms-2">Numri Personal</label>
                        </div>
                        <div class="form-floating py-2">
                            <input value="@Model.Parent.DateOfBirth.ToString("dd/MM/yyyy")" type="text" class="form-control border-0 shadow" readonly />
                            <label class="ms-2">Ditelindja</label>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Parent.Email" type="text" class="form-control border-0 shadow" readonly />
                            <label class="ms-2">Email</label>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Parent.ContactNumber" type="text" class="form-control border-0 shadow" readonly />
                            <label class="ms-2">Numri Telefonit</label>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Parent.Criteria.AlDescription" type="text" class="form-control border-0 shadow" readonly />
                            <label class="ms-2">Kriteri</label>
                        </div>
                        <div class="col-6 py-2">
                            <a asp-controller="Parent" asp-action="Index" class="btn btn-primary form-control border w-100">Kthehu Prapa</a>
                        </div>
                    </div>

                    <!-- Second Column -->
                    <div class="col-12 col-md-6">
                        <div class="form-floating py-2">
                            <input asp-for="Parent.Relation.AlDescription" type="text" class="form-control border-0 shadow" readonly />
                            <label class="ms-2">Relacioni</label>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Parent.Gender.AlDescription" type="text" class="form-control border-0 shadow" readonly />
                            <label class="ms-2">Gjinia</label>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Parent.Language.AlDescription" type="text" class="form-control border-0 shadow" readonly />
                            <label class="ms-2">Gjuha</label>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Parent.Country.AlDescription" type="text" class="form-control border-0 shadow" readonly />
                            <label class="ms-2">Shteti</label>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Parent.Region.AlDescription" type="text" class="form-control border-0 shadow" readonly />
                            <label class="ms-2">Regjioni</label>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Parent.Nationality.AlDescription" type="text" class="form-control border-0 shadow" readonly />
                            <label class="ms-2">Nacionaliteti</label>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Parent.MaritalStatus.AlDescription" type="text" class="form-control border-0 shadow" readonly />
                            <label class="ms-2">Statusi Martesor</label>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Parent.Bank.BankName" type="text" class="form-control border-0 shadow" readonly />
                            <label class="ms-2">Banka</label>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Parent.BankAccountNumber" type="text" class="form-control border-0 shadow" readonly />
                            <label class="ms-2">Xhirollogaria</label>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
