<div class="card shadow border-0 content w-auto mx-auto" style="max-width: 500px; padding: 20px; border: 1px solid #ccc; border-radius: 10px; margin-top: 140px;">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3 w-auto">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary">Gjenero Raporte</h2>
                <form method="post" class="form-inline justify-content-center">
                    <div class="form-group mx-2" style="margin-top: 40px;">
                        <label for="month" class="mr-2">Cakto Muajin:</label>
                        <input type="number" name="month" id="month" class="form-control" style="border-radius: 8px; padding: 8px;" required min="1" max="12" placeholder="1-12" />
                    </div>
                    <br />
                    <div class="form-group mx-2">
                        <label for="year" class="mr-2">Cakto Vitin:</label>
                        <input type="number" name="year" id="year" class="form-control" style="border-radius: 8px; padding: 8px;" required placeholder="Viti" />
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary mt-3 mt-sm-0" style="margin-bottom: 40px;">Ruaj Reportin</button>
                </form>
            </div>
        </div>
    </div>
</div>
